
venv/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
projeto-devsecops.pem
__pycache__/
*.pyc
.env
*.pem
.vscode
*.tfvars
*.tfvars.json
override.tf
override.tf.json
.aws/
.flaskenv
dist/
build/
*.log
*.retry
.docker/
.DS_Store
node_modules/